<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="BoardDto" type="com.travelBoard.domain.BoardDto"/>
        <typeAlias alias="CommentDto" type="com.travelBoard.domain.CommentDto"/>
        <typeAlias alias="SearchCondition" type="com.travelBoard.domain.SearchCondition"/>
        <typeAlias alias="A1Dto" type="com.travelBoard.domain.A1Dto"/>
    </typeAliases>
</configuration>