<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.travelBoard.dao.A1Mapper">

    <insert id="insert" parameterType="A1Dto">
        INSERT INTO a1
            (keyy, value)
        VALUES
            (#{keyy}, #{value})
    </insert>

</mapper>